body{

}
.contenedor {
    display: flex;
    flex-direction: column;
    height: 95vh;
}



.discardPile{

    background-image: url("./imatges/eliminar.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    align-self: center;
}

.jugadores{
    display: flex;
    justify-content: space-between;

}
.jugadores .mazoJugador:nth-child(1){
    align-self: start;
    display: flex;
    border-style: solid;
}
.jugadores .mazoJugadorDos:nth-child(2){
    border-style: solid;
    display: flex;
    visibility: hidden;
    align-self: end;
    height: 207px;
    width: 400px;

}

.mazoJugadorOneTable{
    align-self: center;
    width: 535px;
    height: 195px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
}
.mazoJugadorTwoTable{
    align-self: center;
    width: 535px;
    height: 195px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
}



img{
    transition: transform 0.4s ease-in-out;
    max-width: 130px;
}
img:hover{

    transform:translateY(-30px);
    cursor: pointer;
    z-index: 0;
}


img {
    border-radius: 15px;
}


/*----------------------Mazo jugador 1 ------------------ */

.mazoJugador .cards:nth-child(1){

    translate: 45px;
    transform: rotate(-25deg);

}
.mazoJugador .cards:nth-child(2){

    transform: translateY(-30px);
}
.mazoJugador .cards:nth-child(3){

    translate: -45px;
    transform: rotate(25deg);
}



/* --------------------Mazo jugador 2--------------------- */
.mazoJugadorDos .cards:nth-child(1){

    translate: 45px;
    transform: rotate(-25deg);

}
.mazoJugadorDos .cards:nth-child(2){

    transform: translateY(-30px);
}
.mazoJugadorDos .cards:nth-child(3){

    translate: -45px;
    transform: rotate(25deg);
}




.cartaAzul .cards:nth-child(2){
    transform: translateY(-80%);
}.cartaAzul .cards:nth-child(3){
    transform: translateY(-150%);
}
.cartaRojo .cards:nth-child(2){
    transform: translateY(-80%);
}.cartaRojo .cards:nth-child(3){
    transform: translateY(-150%);
}
.cartaAmarillo .cards:nth-child(2){
    transform: translateY(-80%);
}.cartaAmarillo .cards:nth-child(3){
    transform: translateY(-150%);
}
.cartaVerde .cards:nth-child(2){
    transform: translateY(-80%);
}.cartaVerde .cards:nth-child(3){
    transform: translateY(-150%);
}


